body {
  background-color: #0F1314;
}

h1 {
  color: white;
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
}

h4 {
  color: white;
  text-align: left;
  font-weight: normal;
}

#content {
  text-align: left;
  margin: auto;
  color: #F0E5D3;
}

#content p {
  text-indent: 5%;
}
