body {
  font-family: serif;
  background-color: #0F1314;
  color: #F0E5D3;
}

h1 {
  color: white;
}

nav {
  color: white;
  display: inline-block;
}

p {
  margin-bottom: 20px;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
} 

li::marker {
  color: inherit;
}

#main_title {
  text-align: left;
  margin-right: 5%;
  margin-left: 15%;
  display: inline-block;
}

#main_title a {
  color: white;
  text-decoration: none;
}

#navbar {
  text-align: center;
}

#navbar a {
  color: white;
  padding: 10px;
  display: inline-block;
}

#underline {
  border-bottom: 2px solid white;
}

#content {
  max-width: 85%;
  margin: auto;
}
