:root {
  --marble:   #efecec;
  --clay:     #5c5757;
  --slate:    #494545;
  --basalt:   #363434;
  --coal:     #242222;
}

body {
  padding: 2em;
  color: var(--marble);
  background-color: var(--coal);
}

.title {
  font-size: 4em;
}

.center {
  margin: auto;
  text-align: center;
}


