:root {
  --marble:   #efecec;
  --clay:     #5c5757;
  --slate:    #494545;
  --basalt:   #363434;
  --coal:     #242222;
}

body {
  color: var(--marble);
  background-color: var(--coal);
  min-height: 98vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

nav {
  padding: 1em 2em 0 2em;
}

nav a {
  font-style: normal;
  margin-right: 2em;
}

nav::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--marble);
  padding-bottom: 1em;
}

footer {
  text-align: center;
}

footer::before{
  content: '';
  display:block;
  border-top: 1px solid var(--marble);
  margin: 0 2em 1em 2em;
}

a {
  color: var(--marble);
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

.content {
  padding: 2em;
  flex: 1;
}

.center {
  text-align: center;
}
